@charset "utf-8";
/*CSS document*/



.hidden
{
	display: none;
}




img, embed, object, video {
  max-width: 100%; }


/*switch box model*/
html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }

/*Fix for scaling of images IE*/
img {
  -ms-interpolation-mode: bicubic; 
}


@font-face {
    font-family: 'pt_sans_captionregular';
    src: url('../fonts/PTC55F.ttf') format('truetype'),
         url('../fonts/PTC75F.ttf') format('truetype');
  /*  font-weight: normal;
    font-style: normal;*/

}

@font-face {
	font-family: 'rockwell';
	 src: url('../fonts/rock.ttf') format('truetype'),
	       url('../fonts/rockb.ttf') format('truetype');
}

a 
{ 
  
  text-decoration: none;  
  transition:all .1s linear 0s;
}



body
{
	background-color: #fff;
	font-color: #393937;
	font-family: 'pt_sans_captionregular';
	color: #393937;




}



#siteContainer {
  margin: 0 auto;
  max-width: 1200px; 

}

/*mobile*/
#mainHeader
{
	height: 100px;
	width: auto;
	position: fixed;
	top: 0;
	right: 0px;
	left: 0;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*justify-content: space-between;*/
	-webkit-box-shadow: 0px 10px 24px -1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 10px 24px -1px rgba(0,0,0,0.2);
	box-shadow: 0px 10px 24px -1px rgba(0,0,0,0.2);
}



#mainNav button
{
	margin-top: 18px;
	background: url(../images/menu.svg) center no-repeat;
  	width: 50px;
	height: 50px;
	border: 0px;
}




#hamCon
{
	display: none;
	position: absolute;

	background-color: #5D7031; 
	z-index: -1 ;
	

	opacity: 1;
	border-radius: 5px;
	font-weight: normal;
	color: #393937;
	font-family: 'rockwell';
	font-size: 20px;
	line-height: 25px;
	padding: 8px;
	width: 100%;
/*	height: 200px;*/
	line-height: 40px;
	margin-top: 30px;

}

#mainNav li
{
	margin-left: 10px;
	z-index: 1;
	
}

#mainNav li a:hover
{
	color: #393937;
	font-weight: bold;
	background-color: #c9874b;
	
	padding: 12px;
	border-radius: 5px;
	}





#memberships
{
	display:none;
}


#hamCon.slideToggle
{
	display: block;
	

}

#mainNav button.expanded
{

	/*background-image: url(../images/close_button.svg);*/
	background-repeat: no-repeat;
	align-items: center;
	/*background-color: #2626;
	border-radius: 5px;*/
	transform: rotate(-90deg);


}







#logo img
{
	width: 100%;

}

#becomeAmember 
{
	display:none;


}

#search {
	margin-top: 26px;
	margin-right: 20px;
	background: url(../images/search.svg) center no-repeat;
  	width: 30px;
	height: 30px;
	border: 0px;
}

#searchCon input[type=text]
{
  display: block;
  height: 40px;

  padding: 5px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  margin-top: 40px;

  
  color: #0a0a0a;
  box-shadow: inset 0 1px 2px rgba(10,10,10,0.1);

}
.searchBox 
{
	display:none;
}

.searchBox.slideToggle
{
	display: block;
	position: relative;
	
	
	}

/*#searchCon input[type=submit]
{
  height: 40px;
  width: 100%;
  border-radius: 0px 3px 3px 0px;
  text-align: center;
  background-color: #8fa771;
  color: #fefefe;
  border: 0;
}*/




#mainFooter
{
	display: flex;
	flex-direction: row;
	/*height: 110px;*/
	overflow: hidden;
	width: auto;
	background-color: white;
	border-top: solid 1px;
	border-color: #5D7031;
	font-size: 12px;
	color: #5D7031;
	justify-content: space-evenly;

}



#footLogo {
	width: 50%;

	
 
}
#footerNav
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}



 #NavL
{
	/*width: 70px; 
	height: 60px;*/
	
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 15px;

	
}

#NavL ul li {
	padding: 3px;
}

#NavL ul li:hover
{
	background-color: #9ABD4B;
	border-radius: 5px;
}

#NavR {
	/*width: 130px; 
	height: 60px;*/
	
	display: flex;
	text-align: center;
	flex-direction: column;
	margin-top: 15px;
	
}

#NavR ul li {
	padding: 3px;
}

#NavR ul li:hover
{
	background-color: #9ABD4B;
	border-radius: 5px;
}



#footerMedia
{
	margin-top: 20px;
	display: inline-block;
	
	text-align: center;
		
	
}


#footerMedia p
{
	
	
	font-family: 'pt_sans_captionregular',sans-serif;
	font-size: 12px;
	
	margin: 0 auto;
	
}

#icons
{
	
	flex-direction: row;
	margin-top: 15px;
	justify-content: space-evenly;
}

#footerMedia img
{
    width: 10%;
	
	
}

#mailAdress
{
	display: none;
	margin-top: 15px;
	margin-left: 10px;


	
}

#mailAdress  span
{
	display: block;

}

#mailAdress h2
{
	color:  #393937;
	margin-bottom: 10px;
}


/*HOME PAGE*/

#hero
{
	width: auto;
	
	/*height: 154px;*/
	margin-top: 100px;
	
	/*margin-bottom: 100px;*/
}



#hero h2
{
text-align: center;

	color: #393937;
	font-family: "rockwell",sans-serif;
	font-weight: bold;
	padding: 5px;
	margin-top: 15px;
}

.divStick {
	height: 20px;
	width: 10px;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 10px;
	border-right: solid 3px #5c7031;
}

.section h2
{
	font-size: 16px;
	font-weight: bold;
	font-family: "rockwell",sans-serif;
	text-align: center;
	


}

.section h3
{
	color: #5c7031 ;
	font-family: 'pt_sans_captionregular',sans-serif;
	margin-top: 10px;
	margin-bottom: -20px;
}

.section
{
	* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+1,aecc9d+100 */
background: #f7f7f7; /* Old browsers */
background: -moz-linear-gradient(top, #f7f7f7 1%, #aecc9d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f7f7f7 1%,#aecc9d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f7f7f7 1%,#aecc9d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#aecc9d',GradientType=0 ); /* IE6-9 */

	padding: 10px 10px ;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 50px;


}


.section object
{
	border-bottom: solid 1px #5c7031 ;
	margin-bottom: -10px;

}

#news {
	width: auto;
	margin: 0 auto;
	margin-bottom: 20px;
	/*display: flex;
	flex-direction: column;*/

}


#news h2
{
	text-align: center;
	font-family: 'pt_sans_captionregular',sans-serif;
	font-size: 16px;
	margin-bottom: 15px;


}


#deco
{
	height: 80px;
	width: 35%;
	background-color: #f8f2e9;

}

#news p
{
margin-top: -55px;
margin-left: 40px;
margin-right: 10px;
line-height: 1.5;
font-family: 'pt_sans_captionregular',sans-serif;
font-size: 16px;
margin-bottom: 20px;
}


#location a
{
	padding: 7px;
	background-color: #ffdc73;
	border-radius: 5px;
	font-size: 14px;
	/*display: inline-block;*/
	display: inline-block;
	


	margin-top: 15px;

	margin-right: 40px;
	font-family: 'pt_sans_captionregular',sans-serif;
     font-size: 16px;
     text-align: center;
	

}

#location a:hover
{
	color: #fff;
	transform: scale(0.95);
	transition: 0.8s ease;
	
background: #f1e767; /* Old browsers */
background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */

}

#location{
	float: right;
	margin-top: -30px;
	
}


.content1
{
	text-align: center;
	margin-top: 20px;
}

.content1 h2 
{
	font-family: 'pt_sans_captionregular',sans-serif;
	font-size: 16px;
	margin-bottom: 15px;
}


.learnM a
{

     padding: 10px;
	background-color: #ffdc73;
	border-radius: 5px;
	font-size: 14px;
	display: inline-block;
	
	


	margin-top: 10px;

	font-family: 'pt_sans_captionregular',sans-serif;
     font-size: 16px;
     text-align: center;
     margin-bottom: 7px;
	

}


.learnM a:hover
{
	color: #fff;
	transform: scale(0.95);
	transition: 0.8s ease;
	
background: #f1e767; /* Old browsers */
background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
}


.bgBox
{
	height: 220px;
	width: 80%;
	background-color: #f8f2e9;
	margin-bottom: -220px;
}


.bgright
{
	float: right;
	/*height: 220px;
	max-width: 80%;
	background-color: #f8f2e9;
	margin-bottom: -220px;*/
}


#getInvolved {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: auto;
	/*height: 115px;*/
	border-bottom: solid 1px #5c7031;
	margin-bottom: 20px;
	margin: 5px;
	margin-top: 15px;
}

#getInvolved h2
{
	font-family: 'pt_sans_captionregular',sans-serif;
    font-size: 12px;
    font-weight: bold;
    color:#5c7031 ;
    margin-top: 20px;
    text-align: center;
}


#getInvolved a:hover h2

{
	padding: 4px 2px 4px 2px;
	color: #fff;
	animation: colorme 1.5s;
	border-radius: 5px;
	background-color: #5c7031 ;

}

@keyframes colorme {
	from{
		transition:background-color: #fff;
		transform: scale(1);
	}

	to
	{
		transition:background-color: #5c7031 ;
		transform: scale(1.2);
	}
}

#getInvolved object
{
	
	margin-bottom: 20px;
	margin-top: 10px; 
	width: 40%;





}

.icons
{
	text-align: center;

}



#majorSponsors
{
	

	display flex;
	flex-wrap: wrap;
	
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	font-family: "rockwell",sans-serif;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;


}

#majorSponsors img
{
	max-width: 65%;
}


#majorSponsors h2
{
margin-top: 30px;
margin-bottom: 30px;
}
#sponsorRow1 {
	width: auto;
	
	display: flex;

	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 20px;
	text-align: center;
}

#sponsorRow2 {
	width: auto;
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 10px;

}


.angling 
{
	margin-top: -15px;
}


.guilevin
{
	margin-top: 10px;
}

#muma
{
	margin-top: 0;
}

/*.content1 img
	{
		max-width: 30%;
	}
*/






@media screen and (min-width: 400px){
	#footLogo
	{
		max-width: 120px;
	}
	#footerMedia img
{
    width: 25%;
	
	
}

	

#NavR ul li {
	padding: 5px;
}

#NavL ul li {
	padding: 5px;
}



#NavR {
	width: 180px; 
	height: 80px;
	
	
	
}

#footerMedia img
{
	max-width: 30px;
	
	
}

#majorSponsors img
{
	max-width: 80% ;
}

#getInvolved h2
{
	font-size: 14px;
}



}

@media screen and (min-width: 700px){
	/*.guilevin
	{
		margin-top: 30px;
	}*/


/*.angling
	{
		margin-top: -10px;
	}*/


	#hero h2
	{
		font-size: 20px;

	}

	#getInvolved h2
	{
		font-size: 16px;
	}

	#getInvolved
	{
		margin-bottom: 30px;
	}

	#getInvolved a:hover h2

{
	padding: 5px 3px 5px 3px;
}

#majorSponsors
{
	margin-bottom: 50px;
}

#majorSponsors h2
{
	margin-bottom: 50px;
	font-size: 18px;
}

.section h2
{
	font-size: 18px;

}

.section h3
{
	font-size: 18px;
}

#news h2
{
	font-size: 18px;
}

#news p
{
	font-size: 18px;
}



#footLogo {
	width: 90%;

	
 
}

	.icons
{
	width: 30%;

}

#location a
	{
		padding: 10px 15px 10px 15px;
		margin-right: 60px;
		margin-top: 20px;
	}

	#news
	{
		margin-bottom: 80px;
	}


}





/*tablet*/

@media screen and (min-width: 725px) {

#mainHeader {
	display: flex;
	flex-direction: row;
	/*justify-content: space-around;*/
}

#logo {
	order: -1;
	margin-left: 20px;
	margin-right: 20px;
	
	max-width: 150px;
}

#hamCon
{

	display: flex;
	flex-direction: row;
	position: inherit;
	margin-top: 15px;

	
	background-color: #fff;

	opacity: 1;
/*	border-radius: 5px;*/
	/*color: black;*/
	font-weight: bold;
	font-family: 'rockwell';
	font-size: 16px;
	line-height: 25px;
	
	width: 100%;
	
	/*line-height: 40px;*/

}




#burgMenu   {
	display: inline;
}



#mainNav li
{
    display: inline;
    padding: 7px;
}

#mainNav li a:hover
{
	background-color: #9ABD4B;
}

#burgMenu
{
	margin-right: 15px;
}

#memberships
{
	display: inline-block;
    padding: 5px;
	background-color: #c9874b;
	border-radius: 5px;
	font-size: 14px;
	float:right;
	margin-right: 30px;
	margin-top: 5px;


}

#memberships:hover
{

background: #c9874b; /* Old browsers */
background: -moz-linear-gradient(-45deg, #c9874b 0%, #f2e71f 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #c9874b 0%,#f2e71f 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #c9874b 0%,#f2e71f 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9874b', endColorstr='#f2e71f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
font-weight: bold;
}



#mainNav span
{
	display:block;
}

/*#mainNav li a 
{
    display: inline;
}*/

#searchCon {
	display: none;
}

#button {
	display: none;
}

#footLogo
{
	max-width: 150px;
}
#footerMedia img
{
	max-width: 60px;
	
	
}

#NavR
{
	margin: 15px;
}

#NavL
{
	margin: 15px;
}

#footerMedia p
{
	font-size: 16px;
}

#mainFooter
{
	font-size: 16px;
	justify-content: space-evenly;
}


#footerMedia img
{
	max-width: 40px;
	
	
}
#mailAdress
{
	display: flex;
	flex-direction: column;
	font-size: 16px;
	padding: 5px;
}

/*.guilevin
{
	margin-top: 30px;
}*/

#getInvolved object
{
	max-width: 35%;

}

.angling
	{
		margin-top: 15px;
	}




	.content1 img
	{
		max-width: 40%;
	}

	.bgBox
	{
	height:300px;
	max-width: 80%;
	background-color: #f8f2e9;
	margin-bottom: -300px;
	}
.learnM a
{
	font-size: 18px;
	padding: 10px 20px 10px 20px;
	
	border-radius: 5px;
	display: inline-block;
	
	


	margin-top: 30px;

	font-family: 'pt_sans_captionregular',sans-serif;
    
     text-align: center;
     margin-bottom: 20px;
	
}
	

	.content1 h2
	{
		margin-top: 50px;
		font-size: 20px;
	}



.divStick
{
	height: 30px;
}






}





@media screen and (min-width: 740px){
	.angling
	{
		margin-top: -15px;
	}
}


@media screen and (min-width: 860px){
	#hamCon
	{
		font-size: 20px;

	}
	#memberships
	{
		padding: 7px;
	}


}


/*desktop*/

@media screen and (min-width: 1027px) {

#mainHeader {
	display: flex;
	height: 120px;
}

#hamCon
{

	display: flex;
	flex-direction: row;
	position: inherit;
	margin-top: 30px;
	text-transform: uppercase;

	
	background-color: #fff;

	opacity: 1;
/*	border-radius: 5px;*/
	/*color: black;*/
	font-weight: bold;
	font-family: 'rockwell';
	font-size: 24px;
	line-height: 25px;
	
	width: 100%;
	
	/*line-height: 40px;*/

}

#memberships
{
	padding: 10px;
	font-size: 16px;
}

#logo {
	order: -1;
	margin-left: 30px;
	max-width: 550px;
}

#footLogo
{
	max-width: 150px;

}

#footerMedia img
{
	max-width: 80px;
	
	
}


#footerMedia img
{
	max-width: 50px;
	
	
}

#mainFooter
{
	font-size: 18px;
	padding-left: 20px;
	justify-content: space-evenly;
}


#footerNav
{
	margin-top: 30px;
}

#footerMedia p
{
	margin-top: 30px;
	font-size: 18px;
}
#mailAdress h2
{
	margin-top: 30px;
	font-size: 18px;
}

#muma
{
	margin-top: 30px;
}

#hero h2
{
	font-size: 24px;
	margin-top: 35px;
}

.section h2
{
	font-size: 22px;
}

.section h3
{
	font-size: 22px;
}
.divStick
{
	height: 40px;
}

#news h2
{
	font-size: 24px;
	}

#news
{
	margin-top: 50px;
	margin-bottom: 100px;

}

#news p
{
	margin-right: 100px;
	line-height: 1.75;
	margin-top: -80px;
	font-size: 20px;
	margin-left: 50px;
}

#deco
{
	height: 100px;
}

#location
{
	margin-right: 100px;
	

}

#location a
{
	font-size: 20px;
	padding:15px 25px 15px 25px;
}

.content1 h2
{
	font-size: 24px;
}

.learnM a
{
	padding:15px 25px 15px 25px;
}


#getInvolved a:hover h2

{
	padding:10px 5px 10px 5px;
	font-size: 20px;
	
}

#getInvolved
{
	margin-bottom:  80px;
	height: 220px;
}

#getInvolved h2
{
	font-size: 20px;
}

#majorSponsors h2
{
	font-size: 22px;

}



}
