@charset "utf-8";
/*CSS document*/



.hidden
{
	display: none;
}




img, embed, object, video {
  max-width: 100%; }


/*switch box model*/
html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }

/*Fix for scaling of images IE*/
img {
  -ms-interpolation-mode: bicubic; 
}


@font-face {
    font-family: 'pt_sans_captionregular';
    src: url('../fonts/ptc55f-webfont.woff2') format('woff2'),
         url('../fonts/ptc55f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'rockwell';
	 src: url('../fonts/rock.ttf') format('truetype'),
	       url('../fonts/rockb.ttf') format('truetype');
}

a 
{ 
  
  text-decoration: none;  
  transition:all .1s linear 0s;
}



body
{
	background-color: #fff;
	font-color: #393937;
	font-family: 'pt_sans_captionregular';
	color: #393937;




}



#siteContainer {
  margin: 0 auto;
  max-width: 1200px; 

}

/*mobile*/
#mainHeader
{
	height: 100px;
	width: auto;
	position: fixed;
	top: 0;
	right: 0px;
	left: 0;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*justify-content: space-between;*/
	-webkit-box-shadow: 0px 10px 24px -1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 10px 24px -1px rgba(0,0,0,0.2);
	box-shadow: 0px 10px 24px -1px rgba(0,0,0,0.2);
}



#mainNav button
{
	margin-top: 18px;
	background: url(../images/menu.svg) center no-repeat;
  	width: 50px;
	height: 50px;
	border: 0px;
}




#hamCon
{
	display: none;
	position: absolute;

	background-color: #5D7031; 
	z-index: -1 ;
	

	opacity: 1;
	border-radius: 5px;
	font-weight: normal;
	color: #393937;
	font-family: 'rockwell';
	font-size: 20px;
	line-height: 25px;
	padding: 8px;
	width: 100%;
/*	height: 200px;*/
	line-height: 40px;
	margin-top: 30px;

}

#mainNav li
{
	margin-left: 10px;
	z-index: 1;
	
}

#mainNav li a:hover
{
	color: #393937;
	font-weight: bold;
	background-color: #c9874b;
	
	padding: 12px;
	border-radius: 5px;
	}





#memberships
{
	display:none;
}


#hamCon.slideToggle
{
	display: block;
	

}

#mainNav button.expanded
{

	/*background-image: url(../images/close_button.svg);*/
	background-repeat: no-repeat;
	align-items: center;
	/*background-color: #2626;
	border-radius: 5px;*/
	transform: rotate(-90deg);


}







#logo img
{
	width: 100%;

}

#becomeAmember 
{
	display:none;
}

#search {
	margin-top: 26px;
	margin-right: 20px;
	background: url(../images/search.svg) center no-repeat;
  	width: 30px;
	height: 30px;
	border: 0px;
}

#searchCon input[type=text]
{
  display: block;
  height: 40px;

  padding: 5px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  margin-top: 40px;

  
  color: #0a0a0a;
  box-shadow: inset 0 1px 2px rgba(10,10,10,0.1);

}
.searchBox 
{
	display:none;
}

.searchBox.slideToggle
{
	display: block;
	position: relative;
	
	
	}

/*#searchCon input[type=submit]
{
  height: 40px;
  width: 100%;
  border-radius: 0px 3px 3px 0px;
  text-align: center;
  background-color: #8fa771;
  color: #fefefe;
  border: 0;
}*/




#mainFooter
{
	display: flex;
	flex-direction: row;
	/*height: 110px;*/
	overflow: hidden;
	width: auto;
	background-color: white;
	border-top: solid 1px;
	border-color: #5D7031;
	font-size: 12px;
	color: #5D7031;
	justify-content: space-evenly;

}



#footLogo {
	width: 90%;

	
 
}
#footerNav
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}



 #NavL
{
	/*width: 70px; 
	height: 60px;*/
	
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 15px;

	
}

#NavL ul li {
	padding: 3px;
}

#NavL ul li:hover
{
	background-color: #9ABD4B;
	border-radius: 5px;
}

#NavR {
	/*width: 130px; 
	height: 60px;*/
	
	display: flex;
	text-align: center;
	flex-direction: column;
	margin-top: 15px;
	
}

#NavR ul li {
	padding: 3px;
}

#NavR ul li:hover
{
	background-color: #9ABD4B;
	border-radius: 5px;
}



#footerMedia
{
	margin-top: 20px;
	display: inline-block;
	
	text-align: center;
		
	
}


#footerMedia p
{
	
	
	font-family: 'pt_sans_captionregular',sans-serif;
	font-size: 12px;
	
	margin: 0 auto;
	
}

#icons
{
	
	flex-direction: row;
	margin-top: 15px;
	justify-content: space-evenly;
}

#footerMedia img
{
    width: 25%;
	
	
}

#mailAdress
{
	display: none;
	margin-top: 15px;
	margin-left: 10px;


	
}

#mailAdress  span
{
	display: block;

}

#mailAdress h2
{
	color:  #393937;
	margin-bottom: 10px;
}



@media screen and (min-width: 400px){
	#footLogo
	{
		max-width: 120px;
	}

	

#NavR ul li {
	padding: 5px;
}

#NavL ul li {
	padding: 5px;
}



#NavR {
	width: 180px; 
	height: 80px;
	
	
	
}

#footerMedia img
{
	max-width: 30px;
	
	
}
}


/*tablet*/

@media screen and (min-width: 725px) {

#mainHeader {
	display: flex;
	flex-direction: row;
	/*justify-content: space-around;*/
}

#logo {
	order: -1;
	margin-left: 20px;
	margin-right: 20px;
	
	max-width: 150px;
}

#hamCon
{

	display: flex;
	flex-direction: row;
	position: inherit;
	margin-top: 15px;

	
	background-color: #fff;

	opacity: 1;
/*	border-radius: 5px;*/
	/*color: black;*/
	font-weight: bold;
	font-family: 'rockwell';
	font-size: 18px;
	line-height: 25px;
	
	width: 100%;
	
	/*line-height: 40px;*/

}




#burgMenu   {
	display: inline;
}



#mainNav li
{
    display: inline;
    padding: 10px;
}

#mainNav li a:hover
{
	background-color: #9ABD4B;
}

#burgMenu
{
	margin-right: 15px;
}

#memberships
{
	display: inline-block;
    padding: 5px;
	background-color: #c9874b;
	border-radius: 5px;
	font-size: 14px;
	float:right;
	margin-right: 30px;
	margin-top: 5px;

}

#memberships:hover
{

background: #c9874b; /* Old browsers */
background: -moz-linear-gradient(-45deg, #c9874b 0%, #f2e71f 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #c9874b 0%,#f2e71f 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #c9874b 0%,#f2e71f 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9874b', endColorstr='#f2e71f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
font-weight: bold;
}



#mainNav span
{
	display:block;
}

/*#mainNav li a 
{
    display: inline;
}*/

#searchCon {
	display: none;
}

#button {
	display: none;
}

#footLogo
{
	max-width: 150px;
}
#footerMedia img
{
	max-width: 60px;
	
	
}

#NavR
{
	margin: 15px;
}

#NavL
{
	margin: 15px;
}

#footerMedia p
{
	font-size: 16px;
}

#mainFooter
{
	font-size: 16px;
	justify-content: space-evenly;
}


#footerMedia img
{
	max-width: 40px;
	
	
}
#mailAdress
{
	display: flex;
	flex-direction: column;
	font-size: 16px;
	padding: 5px;
}



}


@media screen and (min-width: 860px){
	#hamCon
	{
		font-size: 24px;

	}
	#memberships
	{
		padding: 7px;
	}
}


/*desktop*/

@media screen and (min-width: 1024px) {

#mainHeader {
	display: flex;
	height: 120px;
}

#hamCon
{

	display: flex;
	flex-direction: row;
	position: inherit;
	margin-top: 30px;
	text-transform: uppercase;

	
	background-color: #fff;

	opacity: 1;
/*	border-radius: 5px;*/
	/*color: black;*/
	font-weight: bold;
	font-family: 'rockwell';
	font-size: 24px;
	line-height: 25px;
	
	width: 100%;
	
	/*line-height: 40px;*/

}

#memberships
{
	padding: 10px;
	font-size: 16px;
}

#logo {
	order: -1;
	margin-left: 30px;
	max-width: 550px;
}

#footLogo
{
	max-width: 150px;

}

#footerMedia img
{
	max-width: 80px;
	
	
}


#footerMedia img
{
	max-width: 50px;
	
	
}

#mainFooter
{
	font-size: 18px;
	padding-left: 20px;
	justify-content: space-evenly;
}


#footerNav
{
	margin-top: 30px;
}

#footerMedia p
{
	margin-top: 30px;
	font-size: 18px;
}
#mailAdress h2
{
	margin-top: 30px;
	font-size: 18px;
}
}
